html{
    background: gray;
}

.button {
    text-align: center;
    text-decoration:dotted;
    font-size: 32px;
    border-radius:12px;
    color: white;
    margin: 0 auto;

}

#button-1{
    background-color:cornflowerblue;
}

#button-2{
    background-color:darkolivegreen;
}

#button-3{
    background-color:indianred;
}