html{
    background: rgb(212, 211, 211);
}

.button {
    text-align: center;
    text-decoration:dotted;
    font-size: 32px;
    border-radius:12px;
    color: white;
    margin: 0 auto;

}

#button-1{
    background-color:cornflowerblue;
    border-radius: 50%;
}

#button-2{
    background-color:gold;
    border-radius: 50%;


}

#button-3{
    background-color:indianred;
}